* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/******* HOMEPAGE *******/

.navbar {
  font-family: "Karla", serif;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  background-color: #618c76;
  height: 50px;
}

.navbar a {
  text-decoration: none;
  background-color: #0b8da700;
  color: rgb(255, 255, 255);
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-size: smaller;
}

.homeS1 {
  display: flex;
  flex-direction: column;
  margin: 60px;
  font-family: "Kulim Park", serif;
  font-weight: 550;
}

.topicLine {
  height: 40px;
  font-family: "karla", serif;
  border: solid gray 0.5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; /*space-between entre title et details */
  align-items: center;
  transition: transform 0.3s ease;
}

.topicLine:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.title {
  font-family: "karla", serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9em;
  color: #2a4135;
}

.details {
  font-family: "karla", serif;
  font-size: 0.7em;
}

#titleTopic{
  margin-bottom: 20px;
}

h1 {
  color: #618c76;
  font-family: "Kulim Park", serif;
  font-weight: 500;
}

h2 {
  color: #618c76;
  font-family: "Kulim Park", serif;
  font-weight: 450;
}


h3{
  color: #618c76;
  font-weight: 500;
}

#login {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.homeButton {
  width: 120px;
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: smaller;
  font-weight: 500;
  border: solid 1px;
  padding: 5px 8px 5px 8px;
  font-family: "karla", serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.homeButton:hover {
  background-color: #cce4c7;
}

/********* FORUM **********/

#forum {
  margin: 60px 150px;
}


#ListCat {
  margin-bottom: 40px;
}


.categoryItem {
  width: 200px;
  margin-top: 50px;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Karla", serif;
  color: black;
  background-color: white;
  border: solid 1px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.forumCat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forumCat h1 {
  margin-bottom: 30px;
}

#listing {
    display: flex;
    flex-direction: column;
    width: 40%;
  }


/********* FORMULAIRES *********/

.forumForm {
  font-family: "karla", serif;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  border: solid gray 0.5px;
  padding: 20px;
  width: 345px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 2px;
  
}

.forumForm form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fieldForm {
  margin-top: 5px;
  margin-bottom: 12px;
  width: 300px;
  height: 25px;
}

.areaForm {
  margin-top: 5px;
  margin-bottom: 12px;
  width: 300px;
  height: 100px;
}

.sendButton {
  width: 80px;
  text-decoration: none;
  background-color: #FF912C;
  color: black;
  font-size: smaller;
  font-weight: 500;
  border: solid 1px;
  padding: 2px 4px 2px 4px;
  margin-top: 10px;
  margin-bottom: 6x;
  font-family: "karla", serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 4px;
}

.sendButton:hover {
  background-color: #f1ae70;
  cursor: pointer;
}


/********* FOOTER *********/

#footer {
  font-family: "Karla", serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  background-color: #618c76;
  height: 50px;
}

#footer p {
  text-decoration: none;
  background-color: #618c76;
  color: white;
  display: flex;
  align-items: center;
  font-size: smaller;
}

#footer a {
  background-color: #618c76;
  text-decoration: none;
  color: white;
  margin-left: 40px;
}
