* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.navbar {
  height: 40px;
  font-family: "Karla", serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #618c76;
}

.navbar a {
  margin-right: 15px;
  text-decoration: none;
  background-color: #618c76;
  color: white;
}

.homeS1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: "Kulim Park", serif;
  font-weight: 550;
}

h1,
h2 {
  color: #618c76;
  font-family: "Kulim Park", serif;
  font-weight: 550;
}
